* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  position: absolute;
  top: 200%;
}

body {
  display: grid;
  color: white;
  background: rgb(4, 0, 24);
}

.whole-page-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; /* Remove underline for the link */
}
