@font-face {
    font-family: "OBJEKTIV";
    src: url("../../../Fonts/Trial_objektiv-1/TrialStaticFonts/ObjektivMk2_Trial_Bd.ttf")
      format("truetype");
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 500vh; /* Make the page scrollable */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/** Rectangle Definition*/
.rectangle_container {
    position: fixed;
}

.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle1 {
    position: fixed;
    top: 25%;
    left: -100%; /* Start off-screen */
    width: 40vw;
    height: 20vh;
    background-color: black;
    transition: left 2s, opacity 1s;
    opacity: 0.5; /* Start invisible */
    transform: translateY(-50%);
}

.rectangle2 {
    position: fixed;
    top: 50%;
    left: 200%; /* Start off-screen */
    width: 50vw;
    height: 40vh;
    background-color: black;
    transition: left 2s, opacity 1s;
    opacity: 0.5; /* Start invisible */
    transform: translateY(-50%);
    border-radius: 0 0 0 5vmin;
}

.rectangle3 {
    position: fixed;
    top: 70%;
    left: -100%; /* Start off-screen */
    width: 35vw;
    height: 50vh;
    background-color: black;
    transition: left 2s, opacity 1s;
    opacity: 0.5; /* Start invisible */
    transform: translateY(-50%);
}

.rectangletext {
    text-align: center;
    font-size: 40px;
    font-family: "OBJEKTIV";
    color: rgb(255, 255, 255);
}

.visibleLeft {
    left: 0;
    opacity: 1;
}

.visibleRight {
    left: 50%;
    opacity: 1;
}
