@font-face {
    font-family: "OBJEKTIV";
    src: url("../../../Fonts/Trial_objektiv-1/TrialStaticFonts/ObjektivMk2_Trial_Bd.ttf")
      format("truetype");
}
@font-face {
    font-family: "LARKEN";
    src: url("../../../Fonts/Larken\ Serif\ Trial/LarkenDEMO-Bold.otf")
      format("opentype");
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 500vh; /* Make the page scrollable */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/** Rectangle Definition*/
.rectangle_container {
    position: fixed;
}

/* Top Class Rectangle */
.rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: black;
    transition: left 2s, opacity 1s, transform 0.3s;
    opacity: 0.5; /* Start invisible */
    transform: translateY(-50%);

    /* Font */
    font-family: "OBJEKTIV";
    font-size: 40px;
    color: rgb(255, 255, 255);
}

/* define hover Effekt */
.rectangle:hover {
    background-color: rgb(64, 64, 64);
    transform: translateY(-50%) scale(1.1);
    font-family: "LARKEN";
    font-size: 50px;
    color: rgb(255, 246, 217);
}

/* define Subclasses Rectanlge 1,2,3 ------------------- */
.rectangle1 {
    top: 25%;
    left: -100%;
    width: 40vw;
    height: 20vh;
}

.rectangle2 {
    top: 50%;
    left: 200%;
    width: 50vw;
    height: 40vh;
    border-radius: 0 0 0 5vmin;
}

.rectangle3 {
    top: 70%;
    left: -100%;
    width: 35vw;
    height: 50vh;
}

/* ------------------------------------------------------ */

.rectangletext {
    text-align: center;
}

.visibleLeft {
    left: 0;
    opacity: 1;
}

.visibleRight {
    left: 50%;
    opacity: 1;
}
